#sidebar {
    width: 12rem;
    max-width: 12rem;
    min-height: 100vh;
    color: #fff;
    transition: all 0.3s;  
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  
    &.collaspe {
      width: 5rem;
      text-align: center;
    }
  
    .toggle {
      cursor: pointer;
    }
  
    .sidebar-sticky {
      .nav-pills {
        .nav-link {
          &.active {
            border-radius: 0;
          }
  
          svg {
            margin: 0 0.5rem 0 0;
          }
        }
      }
    }
  }