// Override default variables before the import

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


//Extended 
.app-list-item {
    @extend .list-group-item;
    border: 1px aliceblue solid;

    &.active {
      color: unset;
      background-color:rgba(0, 123, 255, 0.36);
      border-color:transparent;
    }
  }

.app-button {
    @extend .btn-outline-secondary;
    border-color: aliceblue;
}