
body {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Base Styles
.full-height {
  height: 100vh;
}

.right-border {
  border-right: 1px aliceblue solid;
}

.cpms-title {
  h4 {
    padding-left: 1.2rem;
  }

  hr {
    margin-top: 0px;
  }
}

.cpms-search {
  padding-left: 1.2rem;
  border: 1px aliceblue solid;
}

.cpms-alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

.cpms-spinner {
  margin: 5px;
}

.progress.cpms-progress-bar {
  height: 3px;
  border-radius: 0;

  .progress-bar-animated {
    width: 100%;
  }
}

.invalid-tooltip.show {
  display: block
}

.invalid-feedback.show {
  display: block
}


.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0 0 6px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .nav-link {
    font-weight: 500;
    color: #333;

    &.active {
      color: #007bff;
    }

    &.hover .feather {
      color: inherit;
    }
    .feather {
      margin-right: 4px;
      color: #999;
    }

    svg {
      margin-right: 8px;
    }
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}