
body {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  color: #fff;
  transition: all 0.3s;  
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &.active {
    margin-left: -250px;
  }
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

//Base Styles
.full-height {
  height: calc(100vh - 160px);
}

.right-border {
  border-right: 0.1rem aliceblue solid;
}

.app-page-title {
  h4 {
    padding-left: 1.2rem;
  }

  hr {
    margin-top: 0;
  }
}

.app-page-search {
  padding-left: 1.2rem;
  border: 1px aliceblue solid;
}

.app-alert {
  margin-bottom: 0;
  border-radius: 0;
}

.app-spinner {
  margin: 0.5rem;

  .spinner-border {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
    border-width: 0.1rem;
  }
}

.app-button {
  .spinner-border {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
    border-width: 0.1rem;
  }

}

.app-page {
  .app-list {
    padding: 0 1rem 0 0;
  }

  .app-form {
    padding: 0 1.5rem;
  }

  .modal-header {
    border: none
  }
}

