
body {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Base Styles
.full-height {
  height: calc(100vh - 160px);
}

.right-border {
  border-right: 0.1rem aliceblue solid;
}

.cpms-title {
  h4 {
    padding-left: 1.2rem;
  }

  hr {
    margin-top: 0;
  }
}

.cpms-search {
  padding-left: 1.2rem;
  border: 1px aliceblue solid;
}

.cpms-alert {
  margin-bottom: 0;
  border-radius: 0;
}

.cpms-spinner {
  margin: 0.5rem;

  .spinner-border {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
    border-width: 0.1rem;
  }
}

.app-button {
  .spinner-border {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
    border-width: 0.1rem;
  }

}

.app-form {
  .modal-header {
    border: none
  }
}


.progress.cpms-progress-bar {
  height: 0.3rem;
  border-radius: 0;

  .progress-bar-animated {
    width: 100%;
  }
}

.invalid-tooltip.show {
  display: block
}

.invalid-feedback.show {
  display: block
}


.sidebar {
  position: fixed;
  top: 3.6rem;
  bottom: 0;
  left: 0;
  padding: 0.6rem 0 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &.collaspe {
      min-width: 8rem;
      max-width: 8rem;
      text-align: center;
  }

  .nav-link {
    font-weight: 500;
    color: #333;

    &.active {
      color: #007bff;
    }

    svg {
      margin-right: 0.6rem;
    }
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}